body{
    margin:0;
    padding:0;
    background: url(img/testmonials-bg@1X.png) no-repeat;
    background-size: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    display:flex;
    justify-content:space-between;
    width:80%;
    margin:0 auto;
    margin-top:30px;
}

.logo{
    display:flex;
}

.logo img{
    padding-top:5px;
   height:63px;
   width:63px;
}

.logo-text{
    padding-bottom:-30px;
    padding-left:20px;
    text-transform: uppercase;
    color:white;
}

.logo h1{
    height:10px;
}

.logo p{
    height:10px;
}
.number{
    color:white;
}

.main{
    width:80%;
    margin:0 auto;
}

.first-line , .second-line{
    display:flex;
    justify-content: space-between;
    margin-top:30px;
}

.photo{
    overflow:hidden;
}

.item  p{
    text-align:center;
    color:white;
    font-size:16px;
}

.item2 p{
    text-align:center;
    color:white;
    font-size:16px;
}

.about{
    text-align:center;
    color:white;
    margin-top:10px;
}


.banner{
    position:absolute;
    width:100%;
    background:#f26522;
    height:70px;
    
}

.banner-info{
    display:flex;
    justify-content:space-between;
    width:90%;
    margin:0 auto;
    color:white;
    
}

.details{
    padding-top:10px;
}

.photo{
    position:relative;
}
