.u-section-1 .u-sheet-1 {
  min-height: 856px;
}

.u-section-1 .u-slider-1 {
  min-height: 821px;
  margin-top: 1px;
  margin-bottom: 34px;
  height: auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 108px;
  height: 3px;
  top: auto;
  left: 150px;
  right: auto;
  bottom: 182px;
}

.u-section-1 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.65);
  width: 770px;
  height: 820px;
  margin: 0 -70px 0 440px;
}

.u-section-1 .u-group-1 {
  width: 385px;
  min-height: 164px;
  height: auto;
  margin: -540px auto 0 30px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4rem;
  margin: 10px -82px 0 82px;
}

.u-section-1 .u-text-2 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0 0 0 82px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-family: TTHoves-DemiBold;
  border-style: none;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 310px auto 0 440px;
  padding: 20px 65px 21px;
}

.u-section-1 .u-icon-1 {
  color: rgb(51, 51, 51) !important;
  width: 16px;
  height: 18px;
}

.u-section-1 .u-carousel-item-2 {
  height: 468px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-image-2 {
  filter: brightness(0.65);
}

.u-section-1 .u-group-2 {
  width: 506px;
  min-height: 217px;
  margin: 55px auto 0 21px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-3 {
  font-size: 4rem;
  margin: 10px -82px 0 82px;
}

.u-section-1 .u-text-4 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0 0 0 82px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: TTHoves-DemiBold;
  margin: 459px 78px 0 auto;
  padding: 20px 67px 22px 66px;
}

.u-section-1 .u-icon-2 {
  color: rgb(51, 51, 51) !important;
  width: 16px;
  height: 18px;
}

.u-section-1 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 122px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 239px;
}

.u-section-1 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: 228px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 242px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-1 .u-slider-1 {
    margin-bottom: 54px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    left: 119px;
    bottom: 189px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -5px;
    margin-right: -174px;
    margin-left: 344px;
  }

  .u-section-1 .u-group-1 {
    width: 581px;
    min-height: 217px;
    margin-top: -530px;
    margin-left: 54px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 245px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 245px;
    margin-left: 344px;
    padding-right: 67px;
    padding-bottom: 22px;
    padding-left: 66px;
  }

  .u-section-1 .u-carousel-item-2 {
    height: 821px;
  }

  .u-section-1 .u-group-2 {
    width: 581px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-right: 245px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -68px;
    margin-right: 258px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 95px;
    bottom: 228px;
  }

  .u-section-1 .u-carousel-control-2 {
    left: 185px;
    bottom: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 883px;
    margin-top: 0;
    margin-bottom: 35px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 61px;
  }

  .u-section-1 .u-image-1 {
    height: 867px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 506px;
    margin-top: -850px;
    margin-left: 21px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 556px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 506px;
    margin-top: 55px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 459px;
    margin-right: 78px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 281px;
    bottom: 83px;
  }

  .u-section-1 .u-carousel-control-2 {
    left: auto;
    right: 289px;
    bottom: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 821px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 70px;
    left: 150px;
  }

  .u-section-1 .u-image-1 {
    height: 826px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 434px;
    min-height: 244px;
    margin-top: -887px;
    margin-left: -10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 594px;
    padding: 11px 43px 11px 41px;
  }

  .u-section-1 .u-group-2 {
    width: 434px;
    min-height: 244px;
    margin-top: -53px;
    margin-left: -10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 75px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 532px;
    margin-right: 0;
    margin-bottom: -30px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 195px;
    bottom: 98px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 193px;
    bottom: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 367px;
  }

  .u-section-1 .u-image-1 {
    height: 473px;
    width: 340px;
    margin-top: 0;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -468px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 5px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 12px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 168px;
    margin-right: 5px;
    padding: 5px 15px 6px 13px;
  }

  .u-section-1 .u-image-2 {
    left: auto;
    right: auto;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: -9px;
    margin-left: -12px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 5px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 12px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 161px;
    margin-bottom: -9px;
    padding: 8px 18px 8px 16px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 114px;
    top: 254px;
  }

  .u-section-1 .u-carousel-control-2 {
    left: calc(((100% - 340px) / 2));
    top: 254px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 538px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 2px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 257px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  height: 372px;
  width: 336px;
  margin: -26px auto -149px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 279px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  height: 150px;
  width: 336px;
  margin: 133px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 600px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 350px;
  height: 474px;
  margin: 6px -38px 0 -30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 536px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
}

.u-section-2 .u-text-2 {
  font-family: TTHoves-DemiBold;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(51, 51, 51) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-2 .u-image-1 {
    width: 278px;
    height: 211px;
    margin-top: 13px;
    margin-bottom: -30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-2 .u-image-2 {
    height: 141px;
    width: 278px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 511px;
  }

  .u-section-2 .u-image-3 {
    width: 214px;
    height: 377px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 511px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-right: -20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: -17px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-2 .u-image-2 {
    height: 188px;
    width: 334px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 518px;
  }

  .u-section-2 .u-image-3 {
    height: 378px;
    margin-right: 40px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-2 .u-image-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 777px;
    order: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    order: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 427px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 14px;
  }

  .u-section-2 .u-image-3 {
    margin-right: auto;
    margin-bottom: -30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 319px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 525px;
}

.u-section-3 .u-text-1 {
  font-size: 4rem;
  margin: 51px 562px 0 21px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1099px;
  margin: 1px auto 51px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 272px;
}

.u-section-3 .u-container-layout-1 {
  padding: 1px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 12.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 331px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.375rem;
  margin: 91px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 272px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 11px 202px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 12.5rem;
  font-weight: 700;
  margin: -35px 1px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 331px;
}

.u-section-3 .u-container-layout-4 {
  padding: 1px 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.375rem;
  margin: 0 -44px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 383px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 233px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 422px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 422px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 170px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 283px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 163px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 126px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 25px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 118px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 387px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 228px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 690px;
}

.u-section-4 .u-text-1 {
  font-size: 4rem;
  margin: 30px 20px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
  min-height: 437px;
}

.u-section-4 .u-image-1 {
  min-height: 239px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/Rectangle12.png");
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.75rem;
  margin: 12px auto 0 6px;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 239px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 540px;
  left: auto;
  right: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 223px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 312px;
  height: 193px;
  margin: 0 auto -30px -30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 223px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-4 .u-image-4 {
  margin-top: 0;
  margin-bottom: -30px;
  height: 193px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 223px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  width: 312px;
  height: 193px;
  margin: 0 -30px -30px auto;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 20px 0 30px auto;
  padding: 19px 76px 21px;
}

.u-section-4 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-right: 200px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 12px;
    min-height: 236px;
  }

  .u-section-4 .u-image-1 {
    min-height: 232px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-4 .u-image-2 {
    width: 440px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 184px;
  }

  .u-section-4 .u-image-3 {
    width: 222px;
    height: 137px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 189px;
  }

  .u-section-4 .u-image-4 {
    height: 137px;
    margin-bottom: -8px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 184px;
  }

  .u-section-4 .u-image-5 {
    width: 222px;
    height: 137px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 23px;
    margin-right: 231px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    min-height: 15px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-4 .u-image-2 {
    height: 163px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 272px auto -193px -738px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 131px;
  }

  .u-section-4 .u-image-3 {
    width: 156px;
    height: 96px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 131px;
  }

  .u-section-4 .u-image-4 {
    height: 105px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 131px;
  }

  .u-section-4 .u-image-5 {
    width: 156px;
    height: 96px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -98px;
    margin-right: auto;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 43px;
    margin-right: 79px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 21px;
  }

  .u-section-4 .u-image-1 {
    min-height: 253px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 284px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 284px;
  }

  .u-section-4 .u-image-4 {
    height: 197px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 284px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -344px;
    margin-bottom: 361px;
    padding: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 92px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 185px;
  }

  .u-section-4 .u-image-1 {
    min-height: 159px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 179px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 179px;
  }

  .u-section-4 .u-image-4 {
    height: 124px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 400px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 671px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 570px 0 26px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 29px 29px 30px;
}

.u-section-5 .u-form-1 {
  height: 529px;
  margin: 0 99px 0 -30px;
}

.u-section-5 .u-label-1 {
  letter-spacing: 0px;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
  font-style: normal;
  text-transform: none;
  font-size: 0.875rem;
}

.u-section-5 .u-input-1 {
  background-image: none;
}

.u-section-5 .u-form-group-2 {
  margin-left: 0;
}

.u-section-5 .u-label-2 {
  letter-spacing: 0px;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
  font-style: normal;
  text-transform: none;
  font-size: 0.875rem;
}

.u-section-5 .u-input-2 {
  background-image: none;
}

.u-section-5 .u-label-3 {
  letter-spacing: 0px;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
  font-style: normal;
  text-transform: none;
  font-size: 0.875rem;
}

.u-section-5 .u-input-3 {
  background-image: none;
}

.u-section-5 .u-form-group-4 {
  margin-left: 0;
}

.u-section-5 .u-label-4 {
  letter-spacing: 0px;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
  font-style: normal;
  text-transform: none;
  font-size: 0.875rem;
}

.u-section-5 .u-input-4 {
  background-image: none;
}

.u-section-5 .u-label-5 {
  letter-spacing: 0px;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
  font-style: normal;
  text-transform: none;
  font-size: 0.875rem;
}

.u-section-5 .u-input-5 {
  background-image: none;
}

.u-section-5 .u-form-group-6 {
  margin-left: 0;
  letter-spacing: normal;
  text-decoration: none solid rgb(17, 17, 17);
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

.u-section-5 .u-label-6 {
  letter-spacing: 0px;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
  font-style: normal;
  text-transform: none;
  font-size: 0.875rem;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.75rem;
  font-weight: normal;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 556px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-5 .u-image-1 {
  height: 370px;
  width: 747px;
  margin: 1px auto 0 -150px;
}

.u-section-5 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 230px;
  margin: -26px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 396px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -15px;
    margin-bottom: 40px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-form-1 {
    height: 521px;
    margin-top: 13px;
    margin-right: -16px;
  }

  .u-section-5 .u-btn-1 {
    padding: 20px 60px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 535px;
  }

  .u-section-5 .u-image-1 {
    width: 410px;
    height: 273px;
    margin-top: 43px;
    margin-left: 0;
  }

  .u-section-5 .u-line-1 {
    margin-top: -314px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 1px;
    margin-right: 176px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
    width: 300px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 200px;
    margin-top: 217px;
  }

  .u-section-5 .u-line-1 {
    margin-top: -350px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-5 .u-layout-cell-1 {
    order: 1;
    min-height: 545px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 2px;
    margin-right: 60px;
    margin-left: 50px;
  }

  .u-section-5 .u-layout-cell-2 {
    order: 0;
    min-height: 955px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 180px;
    padding-left: 10px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 755px;
    margin-right: -70px;
    margin-left: auto;
  }

  .u-section-5 .u-line-1 {
    margin-top: -888px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 6px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-form-1 {
    margin-left: 20px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 689px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 489px;
    margin-right: -15px;
  }

  .u-section-5 .u-line-1 {
    margin-top: -622px;
  }
}@font-face {
  font-family: 'TTHoves-DemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/TTHoves-DemiBold.ttf);
}
